<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid" style="font-weight: bold;">
            <a class="navbar-brand" href="{% url 'Inicio' %}"><img src="{% static 'img/logo.png' %}" alt="logo" height="48"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'Inicio' %}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'QuienesSomos' %}">Quiénes Somos</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'Registro' %}">Registro</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'Cotizador' %}">Cotizador</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'Preguntas' %}">Preguntas Frecuentes</a></li>
                </ul>

                <a id="btn-carrito" class="nav-item btn-iniciar" href="#"><img src="{% static 'img/carrito.png' %}" height="30"></a>

                {% if user.is_authenticated %}
                    <span class="navbar-text">¡Bienvenido, {{ user.username }}!</span>
                    <button type="button" class="btn btn-primary btn-iniciar" onclick="window.location.href='{% url 'logout' %}'">Cerrar Sesión</button>
                {% else %}
                    <button type="button" class="btn btn-primary btn-iniciar" onclick="window.location.href='{% url 'login' %}'">Iniciar Sesión</button>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block body %}
    {% endblock %}

    <footer class="pie-pagina">
        <div class="row">
            <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                <img id="logo-pie" src="{% static 'img/logo.png' %}" alt="logo">
                <p class="slogan">"Tu aliado en el reciclaje rápido y sostenible."</p>
            </div>
            <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                <ul class="list-unstyled mb-0">
                    <li><h5>Navegación</h5></li>
                    <li><a href="{% url 'Inicio' %}" class="text-dark">Inicio</a></li>
                    <li><a href="{% url 'QuienesSomos' %}" class="text-dark">Quiénes Somos</a></li>
                    <li><a href="{% url 'Registro' %}" class="text-dark">Registro</a></li>
                    <li><a href="{% url 'Cotizador' %}" class="text-dark">Cotizador</a></li>
                    <li><a href="{% url 'Preguntas' %}" class="text-dark">Preguntas Frecuentes</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <ul class="redes-sociales">
                    <li><h5>Redes Sociales</h5></li>
                    <li class="icon-container">
                        <a href="https://facebook.com"><img src="{% static 'img/facebook.png' %}" alt="Facebook"></a>
                        <a href="https://instagram.com"><img src="{% static 'img/instagram.png' %}" alt="Instagram"></a>
                        <a href="https://whatsapp.com"><img src="{% static 'img/whatsapp.png' %}" alt="WhatsApp"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-line"></div>
        <div class="footer-text">RECYCLE EXPRESS © 2024</div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>
</html>





