{% extends './base.html' %}
{% load static %}
{% block body %}
<div>
    <h2 id="Cotizador">Cotiza con nosotros</h2>
    <div class="d-flex justify-content-center">
        <img src="{% static 'img/delivery.jpg' %}" alt="delivery" width="150px" height="150px">
    </div>
    <div class="d-flex justify-content-center">
        <div class="Direccion">
            <label for="Direccion">Dirección</label>
            <input type="text" class="form-control" id="Direccion" name="Direccion" placeholder="Calle/Avenida/Pasaje N°">
        </div>
    </div>      
    <div class="input-group col-lg-6 mb-3">
       <div class="comuna">
            <label for="comuna">Comuna</label>
            <select class="form-select" id="comuna" name="comuna">
                {% for p in comunas %}
                    <option value="{{ p.valorC }}">{{ p.nombre | capfirst }}</option>
                {% endfor %}
            </select>
        </div>

            
            <div class="Material">
                <label for="material">Material</label>
                <select class="form-select" id="material" name="material">
                    {% for m in materiales %}
                    <option value="{{ m.valorM }}">{{ m.nombre | capfirst }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="input-group col-lg-6 mb-3">
        <div class="Altura">
            <label for="altura">Altura</label>
            <input type="number" class="input" id="altura" name="altura" placeholder="cm">
        </div>
        <div class="Ancho">
            <label for="ancho">Ancho</label>
            <input type="number" class="input" id="ancho" name="ancho" placeholder="cm">
        </div>
        <div class="Largo">
            <label for="largo">Largo</label>
            <input type="number" class="input" id="largo" name="largo" placeholder="cm">
        </div>
    </div>
    <button id="calcularBtn" type="button" data-bs-toggle="modal" data-bs-target="#modal-resultado">Calcular</button>
    <div class="modal fade" id="modal-resultado" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <p id="resultado-coti">El valor es: $0</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="agregarCarritoBtn">Agregar a carrito</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {% block script %}
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}

{% endblock %}