{% extends './base.html' %}
{% load static %}

{% block body %}

<div id="custom-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/arboles.jpg'%}" class="d-block w-100" alt="Arboles">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/nuclear.jpg' %}" class="d-block w-100" alt="Nuclear">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/plasticwater.jpg' %}" class="d-block w-100" alt="Plastic Water">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#custom-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#custom-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container overlay-content">
    <h1>Ayudanos a salvar al planeta!</h1>
    <p>En nuestro compromiso incansable por hacer de este mundo un lugar mejor, nos dedicamos completamente a nuestra misión.
       Nos apasiona la idea de contribuir positivamente a nuestro planeta, y creemos firmemente que cada pequeña acción cuenta.
       Es por eso que nos hemos propuesto llevar nuestro mensaje y nuestra labor a diversos rincones del mundo</p>
    <a href="/" class="btn btn-lg btn-primary overlay-button">Más información acá</a>
</div>

{% endblock %}