{% extends './base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<h3 class="text-center">REGISTRO DE USUARIO</h3>

<br>

<form id="register-form" action="" method="post">
    {% csrf_token %}

    <div class="card mx-auto" style="width: 48rem;">
      <div class="card-body">
        <h7 class="card-title">Los campos con (*) son obligatorios</h7>
        {{ form | crispy }}
        <a href="{% url 'Inicio' %}" class="card-link">Inicio</a>
        <a href="{% url 'login' %}" class="card-link">Iniciar sesion</a>
        <button class="btn btn-sm btn-primary float-end" type="submit">Registrarse</button>
      </div>
    </div>
</form>

<!-- Modal para mostrar mensajes -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Mensaje</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="errorModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

{% block script %}
  <script src="{% static 'js/registro.js' %}"></script>
{% endblock %}
{% endblock %}
